*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-bg: white;
}
body{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    background-color: var(--color-bg);
}

#botao-trocar-cor-verde {
background-color: green;
}

#botao-trocar-cor-vermelho {
    background-color: red;
}
